.wrap
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.three_center_columns
{
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.three_center_columns * input:hover
{
    background-color:antiquewhite;
}

.return_button
{
    width: 100px;
    height: 30px;

    margin-top: 10px;
    margin-left: 20px;
}

.return_button:hover 
{
    background-color: antiquewhite;
}

.column_description
{
    margin-left: auto;
    margin-right: auto;
}

.column_description>*
{
    margin-top: 40px;

}

.column_description * input
{
    width: 250px;
    height: 20px;
    font-size: large;
}

.header
{
    text-align: center;
}