
.character_columns
{
    width: 40%;

    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}

.character_columns * button:hover
{
    background-color: antiquewhite;
}

.return_button
{
    width: 100px;
    height: 30px;

    margin-top: 10px;
    margin-left: 20px;
}

.return_button:hover
{
    background-color: antiquewhite;
}
