.dotImage
{
    margin: 5px 5px 5px 5px;
}

.dotImage:hover
{
    width: 27px;
    height: 27px;
    margin: 4px 4px 4px 4px;
    background-color: #A5A5A5;
}
.block
{
    width: 400px;
    height: 40px;
}

.img_out
{
    min-width: 35px;
    min-height: 35px;
    width: 30px;
    height: 30px;
    display: inline-block;
}